body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #a6160a;
}

/* BANNER "SETTIMANA SCONTI" */
.sz_discount:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* CORPO DEL MAIN */
.sz_background {
    height: calc(100vh - 147px);
    background-image: url('./../img/napoli.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator_price {
    background-color: rgba(0, 0, 0, 0.3);
}